* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: #b2d6ff;
}

.content {
  float: left;
  width: 700px;
  height: 500px;
  background-color: aliceblue;
}

.sidebar {
  float: left;
  width: 200px;
  height: 500px;
  background-color: tomato;
}

.footer {
  height: 200px;
  background-color: #d6e9fe;
  clear: both;
}

.footer>.column {
  float: left;
  width: calc(33.33% - 32px);
  margin: 0 15px;
  border: 1px solid green;
}

span {
  margin: 20px;
  border: 1px solid blueviolet;
  width: 400px;
  height: 30px;
  display: inline-block;
}

span~h2 {
  color: red;
}

a:hover {
  color: purple;
}

span::after {
  content: "";
  display: inline-block !important;
  width: 10px;
  height: 10px;
  background-image: url(https://sonobel.com.br/assets/img/check_verde.png);
  background-size: cover;
  margin-left: 5px;
  position: relative;
  top: 2px
}